In [9]:
import requests
from requests.auth import HTTPBasicAuth
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy

In [36]:
api_key = '76f715aa0bd101c29c550c11b598f819'
api_secret = '4a1a1d477855bef04543c6d92a22bcef'
r = requests.get('http://www.amee.com/api/companies?limit=50&min_employees=10', auth=HTTPBasicAuth(api_key, api_secret))
r.status_code

/home/eleonore/virtenvs/pandas/local/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.
  InsecurePlatformWarning

200

In [37]:
json_data = r.json()
#print json_data['companies']
json_normalize(json_data, 'companies')[:10]

## I'm interested by this info:
#['name', 'city', 'country_code', 'amee_industry_score', 'emissions_total', 'employees_total']

,amee_company_id,amee_industry_score,amee_industry_score_icon,amee_score_status,annual_sales_local,city,country_code,currency_code,emissions_scope1_tco2e,emissions_scope2_tco2e,...,sustainability_report_url,sustainability_report_year,total_assets_local,trading_status,uk_sic_2007,waste_hazardous_kg,waste_non_hazardous_kg,waste_status,water_status,water_withdrawn_l
0,001080931,60,http://s3.amazonaws.com/profile-production-pub...,deprecated,15494634,None,GB,GBP,None,None,...,None,None,NaN,active,32990,NaN,84000,updated,updated,5160000
1,008577571,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,79495,London,GB,GBP,None,None,...,None,None,NaN,active,41200,NaN,NaN,no_data,no_data,NaN
2,000642262,78,http://s3.amazonaws.com/profile-production-pub...,deprecated,362873000,Dorset,GB,GBP,None,None,...,None,None,NaN,active,70100,NaN,NaN,no_data,no_data,NaN
3,008096523,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,6781576,None,GB,GBP,None,None,...,None,None,146899,active,64991,NaN,NaN,no_data,no_data,NaN
4,007526836,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,12956129,London,GB,GBP,None,None,...,None,None,NaN,active,71111,NaN,NaN,no_data,no_data,NaN
5,007477076,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,18278085,"Leeds, West Yorkshire",GB,GBP,None,None,...,None,None,NaN,active,17230,NaN,NaN,no_data,no_data,NaN
6,007461977,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,23960033,surrey,GB,GBP,None,None,...,None,None,NaN,active,27900,NaN,NaN,no_data,no_data,NaN
7,007440346,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,18662833,cheshire,GB,GBP,None,None,...,None,None,NaN,active,66190,NaN,NaN,no_data,no_data,NaN
8,007376392,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,11518000,None,GB,GBP,None,None,...,None,None,NaN,active,66190,NaN,NaN,no_data,no_data,NaN
9,007200824,NaN,http://s3.amazonaws.com/profile-production-pub...,deprecated,42449353,"Solihull, West Midlands",GB,GBP,None,None,...,None,None,NaN,active,82990,NaN,NaN,no_data,no_data,NaN

In [38]:
d, companies, amee_scores, lat, lon = {}, [], [], [], []
sustainability_report_url, line_of_business  = [], []
emissions_total, employees_total, emissions_status = [], [], []

In [39]:
for j in json_data['companies']:
        if j.get('amee_industry_score'):
            companies.append(j.get('name'))
            amee_scores.append(j.get('amee_industry_score'))
            lat.append(j.get('lat'))
            lon.append(j.get('lon'))
            emissions_total.append(j.get('emissions_total'))
            line_of_business.append(j.get('line_of_business'))
            employees_total.append(j.get('employees_total'))
            emissions_status.append(j.get('emissions_status '))
            sustainability_report_url.append(j.get('sustainability_report_url'))

In [40]:
d['companies'], d['amee_scores'], d['lat'], d['lon'] = companies, amee_scores, lat, lon
d['sustainability_report_url'], d['line_of_business'] = sustainability_report_url, line_of_business
d['emissions_total'], d['employees_total'], d['emissions_status '] = emissions_total, employees_total, emissions_status 
print d

{'emissions_status ': [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 'employees_total': [150, 6659, 21, 76, 113, 78, 87, 20, 90, 68, 44, 90, 32, 45, 45, 138, 116, 269, 225, 117, 24, 12, 11], 'emissions_total': [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 'companies': [u'PARK HOUSE HEALTHCARE LIMITED', u'LUSH COSMETICS LIMITED', u'STREETERS HOLDINGS LIMITED', u'HICORP 9 LIMITED', u'M.J. HICKEY PLANT HIRE & CONTRACTS LIMITED', u'NOVOSCO LTD', u'SCOTTS OF THRAPSTON LIMITED', u'OPEN DATA INSTITUTE', u'SPEED 1971 LIMITED', u'KARTELL UK LIMITED', u'VENESKY-BROWN RECRUITMENT LTD.', u'BLACKWOOD PLANT HIRE LTD', u'CHIPPERFIELD GARAGE LIMITED', u'BANKWOOD LIMITED', u'A.B. GEE OF RIPLEY LIMITED', u'X-CEL SUPERTURN (GB) LIMITED', u'PWP BUILDING SERVICES LIMITED', u'CHADWICK BROTHERS LIMITED', u'TEST EQUIPMENT ASSET MANAGEMENT LIMITED', u'JOHN MACKLE (MOY) LIMITED', u'TELECOM SOLUTIONS(GB) LIMITED', u'FENIX FREIGHT LIMITED', u'MTW RESEARCH LTD'], 'line_of_business': [u'Other manufacturing n.e.c.', u'Activities of head offices', u'Other business support service activities n.e.c.', u'Manufacture of medical and dental instruments and supplies', u'Site preparation', u'Other information technology and computer service activities', u'Other manufacturing n.e.c.', u'Information service activities', u'Freight transport by road', u'Other retail sale not in stores, stalls or markets', u'Temporary employment agency activities', u'Renting and leasing of other machinery, equipment and tangible goods n.e.c.', u'Sale of new cars and light motor vehicles', u'Non-specialised wholesale trade', u'Non-specialised wholesale trade', u'Manufacture of other fabricated metal products n.e.c.', u'Electrical installation', u'Other retail sale in non-specialised stores', u'Other professional, scientific and technical activities (not including environmental consultancy or quantity surveying) n.e.c.', u'Other manufacturing n.e.c.', u'Wired telecommunications activities', u'Water transport', u'Publishing of consumer, business and professional journals and periodicals'], 'lon': [-1.69623768, -1.98786651, -0.08141132, -1.84894405, -1.58933266, -5.903733, -0.10283201, -0.0836485, -1.24016373, -0.47754844, -3.20032374, -4.51470499, -2.29494857, -1.41016561, -1.41016561, -1.48471765, -1.15693696, -5.09298374, -0.34278132, -6.714135, -1.16519124, -0.10266538, -2.07650726], 'sustainability_report_url': [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], 'lat': [53.74519535, 50.71296464, 51.52348392, 52.45042719, 55.21651687, 54.619834, 51.51517256, 51.52238743, 51.17789217, 52.15059324, 55.95356426, 55.67972968, 53.45825698, 53.0614831, 53.0614831, 53.39706196, 52.97216794, 50.14843995, 51.59507157, 54.496307, 52.94100569, 51.52334408, 51.89408097], 'amee_scores': [60, 78, 100, 80, 85, 100, 61, 96, 100, 100, 82, 96, 85, 70, 78, 47, 53, 66, 99, 89, 86, 97, 79]}

In [41]:
df = pd.DataFrame.from_dict(data=d, orient='columns')

In [42]:
df

,amee_scores,companies,emissions_status,emissions_total,employees_total,lat,line_of_business,lon,sustainability_report_url
0,60,PARK HOUSE HEALTHCARE LIMITED,None,None,150,53.745195,Other manufacturing n.e.c.,-1.696238,None
1,78,LUSH COSMETICS LIMITED,None,None,6659,50.712965,Activities of head offices,-1.987867,None
2,100,STREETERS HOLDINGS LIMITED,None,None,21,51.523484,Other business support service activities n.e.c.,-0.081411,None
3,80,HICORP 9 LIMITED,None,None,76,52.450427,Manufacture of medical and dental instruments ...,-1.848944,None
4,85,M.J. HICKEY PLANT HIRE & CONTRACTS LIMITED,None,None,113,55.216517,Site preparation,-1.589333,None
5,100,NOVOSCO LTD,None,None,78,54.619834,Other information technology and computer serv...,-5.903733,None
6,61,SCOTTS OF THRAPSTON LIMITED,None,None,87,51.515173,Other manufacturing n.e.c.,-0.102832,None
7,96,OPEN DATA INSTITUTE,None,None,20,51.522387,Information service activities,-0.083649,None
8,100,SPEED 1971 LIMITED,None,None,90,51.177892,Freight transport by road,-1.240164,None
9,100,KARTELL UK LIMITED,None,None,68,52.150593,"Other retail sale not in stores, stalls or mar...",-0.477548,None
10,82,VENESKY-BROWN RECRUITMENT LTD.,None,None,44,55.953564,Temporary employment agency activities,-3.200324,None
11,96,BLACKWOOD PLANT HIRE LTD,None,None,90,55.679730,"Renting and leasing of other machinery, equipm...",-4.514705,None
12,85,CHIPPERFIELD GARAGE LIMITED,None,None,32,53.458257,Sale of new cars and light motor vehicles,-2.294949,None
13,70,BANKWOOD LIMITED,None,None,45,53.061483,Non-specialised wholesale trade,-1.410166,None
14,78,A.B. GEE OF RIPLEY LIMITED,None,None,45,53.061483,Non-specialised wholesale trade,-1.410166,None
15,47,X-CEL SUPERTURN (GB) LIMITED,None,None,138,53.397062,Manufacture of other fabricated metal products...,-1.484718,None
16,53,PWP BUILDING SERVICES LIMITED,None,None,116,52.972168,Electrical installation,-1.156937,None
17,66,CHADWICK BROTHERS LIMITED,None,None,269,50.148440,Other retail sale in non-specialised stores,-5.092984,None
18,99,TEST EQUIPMENT ASSET MANAGEMENT LIMITED,None,None,225,51.595072,"Other professional, scientific and technical a...",-0.342781,None
19,89,JOHN MACKLE (MOY) LIMITED,None,None,117,54.496307,Other manufacturing n.e.c.,-6.714135,None
20,86,TELECOM SOLUTIONS(GB) LIMITED,None,None,24,52.941006,Wired telecommunications activities,-1.165191,None
21,97,FENIX FREIGHT LIMITED,None,None,12,51.523344,Water transport,-0.102665,None
22,79,MTW RESEARCH LTD,None,None,11,51.894081,"Publishing of consumer, business and professio...",-2.076507,None

In [82]:
df.to_csv('test.csv')